.tagsIndex {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
.tags-length {
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 50%;
    color: #696969;
    font-size: 1rem;
    display: flex;
    border: 1px solid #d3d3d3;
    font-weight: 800;
}
.btnTagsIndex {
    text-transform: capitalize;
}